<html>
    {% if user_finished %}
        <script src="/static/reload.js"></script>
    {% endif %}

    <style>
        html{
            margin: auto;
            max-width: 1000px;
        }
        
        body{
            text-align: center;
        }
    </style>

    <head>
        {% if mobile %}
            <link rel="stylesheet" type="text/css" href="/static/mobile.css">
        {% endif %}
    </head>


    <body>
        <h1 class="home" style="font-size: 3em;">
            <a 
                href="/" 
                style="text-decoration: none;" 
                onclick="return confirm('Are you sure you want to go to home?')"
            >
                🎩
            </a>
        </h1>

        <h2>
            {{ user }} you can put {{ items_left }} more items into the hat!
        </h2>
        
        {% if items_left != 0 %}
            <form method="get">
                
                <div class="form">
                    <div>
                        <label class="country">
                            <input type="text" name="input_name" autocomplete="off">
                        </label>
                    </div>
                </div>

                <input type="submit" value="Submit">
            
            </form>
            
            <p>
                {{ message }}
            </p>
        {% else %}
            <p>
                {{ ready }}
            </p>
        {% endif %}

    </body>
</html>