<html>
    {{ user }}
<h1>
    You are waiting for everyone to ready up!
</h1>

<table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Ready</th>
      </tr>
    </thead>
    <tbody>
        {% for user, ready in all_users %}
        <tr>
            <td>
                {{ user }}
            </td>
            <td>
                {{ ready }}
            </td>
        </tr>

    {% endfor %}
    </tbody>
  </table>


<form action="/lobby" method="get">
    <input type="checkbox" name="readyCheck" value="1">
    <input type="submit" value="Ready">
</form>

</html>