<html>

<h1>
    {{ username }} you are waiting for everyone to ready up!
</h1>

<h2>
    Your game code is {{ room_id }}
</h2>

<table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Ready</th>
      </tr>
    </thead>
    <tbody>
        {% for user in all_users.keys() %}
        <tr>
            <td>
                {{ user }}
            </td>
            <td>
                {{ all_users[user] }}
            </td>
        </tr>

    {% endfor %}
    </tbody>
  </table>


    {% if all_users[username] != 1  %}
        <form method="get">
            <input type="hidden" name="readyCheck" value="1">
            <button>Ready</button>
        </form>
    {% else %}
    <p>
        ✔
    </p>
    {% endif %}

 <!-- {% if all_users|length > 1 %} -->

 <!-- {% else %}

{% endif %} -->


</html>