<html>
    <script>
        var reload = setInterval(runMe, 3000);

        /* 
        * Reloads the page if there as been an update
        */
        function runMe()
        {
            window.location.replace(location.pathname);
        }
    </script>
    <style>
        html{
            margin: auto;
            max-width: 1000px;
        }
        
        body{
            text-align: center;
        }

        table{
            margin: 0px auto;
            padding: 2em;
        }
    </style>


    <head>
        {% if mobile %}
            <link rel="stylesheet" type="text/css" href="static/mobile.css">
        {% endif %}
    </head>

    <body>
        <h1 class="home" style="font-size: 3em;">
            <a 
                href="/" 
                style="text-decoration: none;" 
                onclick="return confirm('Are you sure you want to go to home?')"
            >
                🎩
            </a>
        </h1>

        <h2>
            They gave the point to {{ round_winner_name }}!
        </h2>

        <h2>
            🎉
        </h2>

    </body>
</html>