<html>
    <script src="/static/reload.js"></script>
    <style>
        html{
            margin: auto;
            max-width: 1000px;
        }
        
        body{
            text-align: center;
            display:flex; 
            flex-direction:column; 
        }

        table{
            margin: 0px auto;
            padding: 2em;
        }

        p{
            margin: 0.5em;
        }

        form{
            padding: 1em;
        }

        
    </style>

    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        {% if mobile %}
            <link rel="stylesheet" type="text/css" href="/static/mobile.css">
        {% endif %}
    </head>

    <body>
        <h1 class="home" style="font-size: 3em;">
            <a 
                href="/" 
                style="text-decoration: none;" 
                onclick="return confirm('Are you sure you want to go to home?')"
            >
                🎩
            </a>
        </h1>

        <h2>
            Round {{ round_number }}
        </h2>

        <h3>
            Hey {{ username }},

            {% if user_turn == username %}

            the hat gave you {{ item }}!

            {% endif %}
        </h3>

        {% if user_turn == username %}

            <p>
                {{ instructions }}
            </p>
            
            <!-- display a list of users to pick from -->
            <p>
                When someone guesses the item, choose their name from the list below!
            </p>

            {% for user in users %}
            <form method="get">
                    <input type="hidden" name="round_winner_name" value="{{ user }}">
                    <button>{{ user }}</button>
            </form>
            {% endfor %}
        
        {% else %}
            <!-- show who's go it is -->
            <p>
                It is currently {{user_turn}}'s go!
            </p>

        {% endif %}
        
    </body>
    <footer style="margin-top:auto;">
        <p>
            Just imagine the website looks pretty
        </p>
    </div>
</html>